matrix:
  include:
    - language: python
      python: 3.7
      os: linux
    - os: windows
      language: sh # Python is not yet officially supported
      before_install:
        - choco install python3
        - ln -s $(which py) /usr/bin/python3
  allow_failures:
    - os: windows
  fast_finish: true

cache: pip

install:
  - travis_retry python3 -m pip install -e .[test]

script:
  - python3 -m pytest
  - sphinx-build -q -b html -b linkcheck -d docs/_build/doctrees docs docs/_build/html
